* {
  box-sizing: border-box;
}
.page {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
}
.article {
  height: available;
  margin: 8px;
  padding: 16px;
  padding-bottom: 0;
  background-color: bisque;
  flex-basis: 300px;
  flex-grow: 2;
  flex-shrink: 1;
}
