* {
  box-sizing: border-box;
}

.header {
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.nav-list {
  position: absolute;
  /* top: 0%; */
  margin-top: 0%;
  height: 40px;
  list-style-type: none;
}

.nav-item {
  float: left;
  margin-left: 16px;
  color: white;
  line-height: 2.5;
  height: 40px;
  text-decoration: none;
}

main {
  background-color: beige;
  height: 5000px;
  width: 100%;
}

.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: relative;
  top: calc(3%);
  left: calc(33%);
}

.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
}
.ear_left {
  position: absolute;
  left: 100%;
  bottom: 100%;
}
.ear_right {
  position: absolute;
  right: 100%;
  bottom: 100%;
}

.eye {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
}

.eye_right {
  position: absolute;
  top: 80px;
  right: 40px;
}

.eye_left {
  position: absolute;
  top: 80px;
  left: 40px;
}
.header {
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  position: fixed;
}
